services:
  tweet-app:
    ports:
      - "80:80"
      - "443:443"
    image: nginx:latest
    volumes:
      - ./{{ docker_config_volume_name }}:/etc/nginx/conf.d/
      - ./{{ docker_html_volume_name }}:/usr/share/nginx/html
