server {
    listen              443 ssl;
    listen [::]:443 ssl ipv6only=on;

    server_name _;

    ssl_certificate     /etc/nginx/conf.d/ssl/{{ nginx_conf_domain }}.crt;
    ssl_certificate_key /etc/nginx/conf.d/ssl/{{ nginx_conf_domain }}.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
    root /usr/share/nginx/html;
    }
}

server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;

        server_name _;

        return 301 https://$host$request_uri;
}